*.pdf
/src/firebase/curriculum_materials/exam_materials/*.json
/src/firebase/curriculum_materials/exam_materials/*.txt
.venv
node_modules
firebase_key.json
.env
/src/firebase/question-generation/review-questions.json
/src/firebase/question-generation/cluster-questions.json
/src/firebase/question-generation/main.ts
/src/firebase/question-generation/write-doc.ts
/src/firebase/query-firestore.ts