*.pdf
/src/firebase/curriculum_materials/exam_materials/*.json
/src/firebase/curriculum_materials/exam_materials/*.txt
.venv
node_modules
firebase_key.json
.env
/src/firebase/question-generation/review-questions.json